/*Hier onder staan de foto's die op de thuispagina staan. Het is de bedoeling dat de foto's in elkaar vallen net zoals 
het er uitziet in de interactieve mockup:"uiteindelijke website visueel uitgewerkt met een grotere focus op mijn 
doelgroep" in Axure*/
#ouderenopeenbankje{
	width: 300px;
	height: 140px;
}
#kindereningymzaal{
	width: 245px;
	height: 170px;
}
#ouderenfietsen{
	width: 245px;
	height: 170px;
}
#revalideren{
	width: 115px;
	height: 170px;
}
#oudermetlooprek{
	width: 300px;
	height: 200px;
}
#mensenmassa{
	width: 310px;
	height: 170px;
}
#blijemensenachtereenlaptop{
	width: 300px;
	height: 170px;
}
/*Hier boven staan de foto's die op de thuispagina staan. het is de bedoeling dat de foto's in elkaar vallen*/
/*Hier onder staan de foto's die op de contactpagina staan.Ook hier is het de bedoeling dat de foto's op dezelfde manier komen te staan als 
ze op de contact pagina doen in de mockup: uiteindelijke website visueel uitgewerkt met een grote focus op mijn doelgroep 
de kenniskringleden.*/
#voorkanthhs{
	width: 300px;
	height: 170px;
}
#vergadertafel{
	width: 240px;
	height: 170px;
}
#groepblijemensenachterlaptop{
	width: 155px;
	height: 170px;
}
#zijkanthhs{
	width: 238px;
	height: 170px;
}
#groepblijemensenzittendopstraat{
	width: 150px;
	height: 170px;
}
/*Hier boven staan de foto's die op de contactpagina staan.*/